
.suvry-wrapper {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: #565555;
    position: static;

    * {
        box-sizing: border-box;
    }

    
/* Animation */
.fade-enter {
    opacity: 0;
}


.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}
  
  .fade-leave,
  .fade-exit {
    position: absolute!important;
    top: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    opacity: 1;
  }
  
  .fade-leave.fade-leave-active,
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
 


    .qs-img-icon {
        width: 24px;
        height: 24px;
    }

    .qs-m0 {
        margin: 0!important;
    }

    .qs-social-section {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;

        .qs-social {
            display: inline-block;
            margin: 0 20px;            
            cursor: pointer;
        }
    }
    
    .qs-bg-img {
        order: 5;
        margin-bottom: 30px;
    }

    .qs-header {
        order: 10;
        margin-bottom: 30px;
    }

    .qs-description {
        order: 15;
        margin-bottom: 30px;
    }

    .qs-footer {
        order: 100;
        margin-bottom: 30px;
    }

    .qs-content {
        order: 50;
        margin-bottom: 30px;
    }

    .qs-btn {
        border: 1px solid #00AEDA;    
        border-radius: 3px;    
        font-size: 12px;
        line-height: 1.5;
        text-align: center;        
        min-width: 140px;
        padding: 5px 20px;        
        color: #fdfdfd;
        display: inline-block;
        cursor: pointer;
        background: #00AEDA;        
        
        &:hover {
            background: transparent;
            color: #00AEDA;
        }

        &.qs-btn-normal {
            background: #00AEDA;        
            color: #fdfdfd;

            &:hover {
                background: transparent;
                color: #00AEDA;
            }
        }
    }

    .qs-control {
        border: 0;
        padding: 0 10px;
        line-height: 1.5;        
        border-radius: 4px;
        width: 100%;
        outline: 0;
        background: transparent;
    }

    .mc-question {
        display: flex;
        width: 100%;        
        position: static;
        flex-direction: column;
        justify-content: center;
        min-height: 80vh;

        h3 {
            font-size: 30px;
            line-height: 1.5;            
            font-weight: 400;
            margin: 0 0 0;
            padding: 0;
        }

        .qs-description {
            
            p {
                font-size: 18px;
                line-height: 1.5;
                margin: 0;             
            }
        }

        .qs-footer {
            padding-top: 30px;            
        }

        .qs-content {            
            
            span.qs-index {
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                min-width: 40px;
                display: inline-block;
                color:  #32373C;
            }     

            .qs-answer {
                border: 1px solid #DADADA;
                box-sizing: border-box;
                border-radius: 30px;                
                margin: 0 0 30px;
                display: flex;
                width: 100%;
                align-items: center;
                padding: 15px 10px;
                cursor: pointer;

                

                span.qs-item {
                    color: #565555;
                    width: 90%;
                    text-align: left;
                }

                &.qs-others{
                    padding: 10px 10px;
                }

                &.active {
                    background: #00AEDA;

                    span.qs-index,
                    span.qs-item {
                        color: #fff;
                    }                    
                } 
            }

                   
        }

        .qs-img-content {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            

            .qs-img {
                flex: 1 0 33.33%;
                max-width: 33.33%;
                padding: 15px;
                cursor: pointer;
                position: relative;

                &:hover {                   
                    /*border: 5px solid #0187C8;*/
                    opacity: 1;
                }

                .qs-blank-img {
                    width: 100%;
                    min-height: 150px;
                    background: #DADADA;
                    opacity: 0.5;
                    margin-bottom: 10px;
                }

                img {
                    width: 100%;
                    min-height: 50px;
                    margin-bottom: 10px;
                    opacity: 0.5;                    
                    
                }

                &:hover {
                    .qs-blank-img {
                        background: #F3F3F3;
                        opacity: 1;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }

                    img {
                        opacity: 1;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }

                &.active {
                    .qs-blank-img {
                        background: #F3F3F3;
                        opacity: 1;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }

                    img {
                        opacity: 1;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
                // &.active {
                //     &:before {
                //         display: block;
                //         content: "";
                //         position: absolute;
                //         width: 50px;
                //         height: 50px;
                //         border-radius: 50%;
                //         top: 0;
                //         left: 0;
                //         background: #0187C8;
                //         z-index: 1;
                //     }

                //     &:after {
                //         display: block;
                //         content: "";
                //         position: absolute;
                //         width: 15px;
                //         height: 25px;                    
                //         top: 5px;
                //         left: 15px;
                //         border-bottom: 5px solid #fff;
                //         border-right: 5px solid #fff;
                //         transform: rotate(45deg);
                //         z-index: 1;
                //     }
                // }
            }
        }

        .qs-bg-img {                  
            width: 100%;
            margin: 0 auto 30px auto;

            img {
                width: 100%;                
            }
        }

        &.full  {
            .qs-bg-img {

                max-width: 100%;
                width: 100%;                
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;

                z-index: -1;

                img {
                    object-fit: cover;
                    object-position: center;
                }
            }

        }

        &.top {
            flex-direction: column;
            padding-top: 30vh;

            .qs-bg-img {
                order: 0;
                margin-bottom: 30px;
                max-width: 100%;
                width: 100%;
                position: absolute;
                height: 30vh;
                overflow: hidden;
                top: 0;
                left: 0;

                img {
                    object-fit: cover;
                    object-position: center;
                }
            }
        }
        
        &.left {
            flex-wrap: wrap;
            padding-left: 30%;

            .qs-bg-img {
                                
                width: 30%;
                position: absolute;
                top: 0;                
                left: 0;
                height: 100%;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                }
            }
        }

        &.right {
            flex-wrap: wrap;
            padding-right: 30%;

            .qs-bg-img {
                                
                width: 30%;
                position: absolute;
                top: 0;                
                right: 0;
                height: 100%;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                }
            }
        }

        &.titleabove {
            .qs-bg-img {
                order: 20;
            }

            .qs-description {
                order: 25;
            }
        }

        &.standard  {
            .qs-bg-img {
                
            }
        }

        &.txtover {
            .qs-bg-img {
                order: 35;        
            }
        }

        &.txtright  {
            flex-wrap: wrap;
            padding-left: 32%;
            position: relative;

            .qs-bg-img {
                                
                width: 30%;
                position: absolute;
                top: 0;                
                left: 0;
                height: 100%;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                }
            }

        }

        &.txtleft   {
            flex-wrap: wrap;
            padding-right: 32%;
            position: relative;

            .qs-bg-img {
                                
                width: 30%;
                position: absolute;
                top: 0;                
                right: 0;
                height: 100%;
                display: flex;
                align-items: center;

                img {
                    width: 100%;
                }
            }
        }
    }

    .qs-logo {
        width: 100%;
        margin-bottom: 30px;

        img {
            width: 150px;
            display: inline-block!important;
        }

        &.top-right,
        &.bottom-right {
            text-align: right;
        }

        &.top-center,
        &.bottom-center {
            text-align: center;
        }

        &.top-left,
        &.bottom-left {
            text-align: left;
        }

        &.bottom-right,
        &.bottom-center,
        &.bottom-left {
            order: 60;
        }
    }

    .fb-question {
        
        .qs-social-section {
            order: 90;
        }
    }

    .tx-question {
        .qs-control {
            line-height: 30px;
            margin: 0;
        }

        .qs-answer {
            padding: 0 10px;            
        }
    }
    
    .qs-rating-star {
        display: flex;
        width: 100%;
        
        // &:hover {
        //     color: #00AEDA;

        //     path {
        //         fill: #00AEDA;
        //     }
        // }
        .qs-star {
            flex: 1 0 auto;
            cursor: pointer;

            color: #00AEDA;

            path {
                fill: #00AEDA;
            }

            span {
                display: block;
            }

            &.active ~ div {
                color: #32373C;                
                path {
                    fill: transparent;
                }
                .star-out {
                    fill: #000;
                }
            }


            &:hover ~ div {
                color: #32373C;
                path {
                    fill: transparent;
                }
                .star-out {
                    fill: #000;
                }
            }
        }

    }

    .qs-rating-wraper {
        width: 100%;

        .qs-rating-bar {
            display: flex;
            height: 50px;
            width: 100%;
            background: linear-gradient(90deg, #67D5F1 0%, #0187C8 100%);
            border: 1px solid #DADADA;
            box-sizing: border-box;
            border-radius: 30px;            
            margin-bottom: 15px;
            align-items: center;
            overflow: hidden;
            
            .qs-rate {
                flex: 1 0 auto;
                border-left: 1px solid #fdfdfd;
                height: 100%;
                line-height: 50px;
                color: #fdfdfd;
                cursor: pointer;

                &:first-child {
                    border: 0;
                }


                &:hover ~ div,
                &.active ~ div {
                    color: #32373C;
                    background: #fff;
                }
            }
        }
        
        .qs-rating-description {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .span {
                font-size: 13px;
                line-height: 18px;
            }
        }
    }

    .qs-content-buttons {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .qs-content-options {
        table {
            width: 100%;

            td {
                padding: 10px;
                border: 0!important;
            }

            th {
                border: 0!important;
            }
        }
    }

    .qs-radio {
        input[type="radio"] {
            position: relative;
            cursor: pointer;
            width: 20px;
            height: 20px;
            margin: 0;
            padding: 0;
            box-sizing: border-box;

            &:before {
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                border: 2px solid #000;
                content: '';
                border-radius: 50%;
                transition: all .3s ease;
                transition-property: transform, border-color;
                background: #fff;
                box-sizing: border-box;
                margin: 0;
            }

            &:after {
                top: 10px;
                left: 10px;
                width: 10px;
                height: 10px;
                margin-left: -5px;
                margin-top: -5px;
                transform: scale(0);
                background: #000;
                position: absolute;
                content: "";
                border-radius: 50%;
                box-sizing: border-box;
            }

            &:checked:after {
                transform: scale(1);
            }
        }
    }

    .fu-question {
        .qs-content {
            order: 1;
        }
    }
}

.qs-progress-bar-wrapper {
    width: 100%;

    span {
        display: block;
        text-align: center;
    }

    .qs-progress-bar {
        position: relative;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 6px;
        height: 9px;
        margin-bottom: 10px;
        position: relative;

        .qs-progress {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: #EAC338;
        }
    }

    .qs-ps-title {
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
    }
}

.alert-message {
    margin-bottom: 15px;
    color: #d50000;
    font-size: 12px;
    line-height: 1.5;
}

@keyframes loadingC {
    0 {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

.mailer-wrapper {
    position: fixed;
    z-index: 999999;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    
    .mailer-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 50px;
        box-shadow: 0 6px 6px 0 rgba(32,33,36,.28);
        background: #fff;        
    }

    &.qs-is-loading {
        background: rgba(0, 0, 0, 0.1);

        .mailer-box {
            box-shadow: none;
            background: transparent;
        }
    }

    .line {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 15px;
        margin: 0 15px;
        background-color: #4b9cdb;
    }

    
    .load-3 .line:nth-last-child(1) {
        animation: loadingC 0.6s 0.1s linear infinite;
    }
    .load-3 .line:nth-last-child(2) {
        animation: loadingC 0.6s 0.2s linear infinite;
    }
    .load-3 .line:nth-last-child(3) {
        animation: loadingC 0.6s 0.3s linear infinite;
    }
}


